@import '../../../../../../styles/variables.scss';

.sermon-cards-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  row-gap: 30px;
  column-gap: 30px;
  padding-bottom: $gutter-xl;
  align-items: stretch;
  
  @media screen and (min-width: $tablet) {
    row-gap: 40px;
    column-gap: 50px;
  }

  @media screen and (min-width: $smallDesktop) {
    row-gap: 60px;
    column-gap: 70px;
  }

  @media screen and (min-width: $desktop) {
    row-gap: 70px;
    column-gap: 100px;
  }

  @media screen and (min-width: $largeDesktop) {
    row-gap: 80px;
    column-gap: 90px;
  }

  &__no-more-items-text {
    font-size: $font-size-md;
  }

  &__player {
    position: fixed;
    bottom: 0;
    width: 100vw;
    z-index: 10;
    background-color: $color-white;
  }
}
