@import '../../../../../styles/variables.scss';

.footer-navbar {
  display: flex;
  column-gap: $gutter-lg;
  width: fit-content;
  font-weight: 500;
  font-family: $gilroy-medium-font-family;

  @media screen and (min-width: $smallDesktop) {
    column-gap: 64px;
  }
  
  @media screen and (min-width: $desktop) {
    column-gap: 100px;
  }

  @media screen and (min-width: $largeDesktop) {
    column-gap: 150px;
  }

  nav {
    display: flex;
    flex-direction: column;
  }

  &__link {
    font-style: normal;
    font-weight: $font-weight-default;
    font-size: 14px;
    line-height: 1.5;
    color: $color-red;

    &:hover {
      color: var(--text-main-color);
    }

    @media screen and (min-width: $smallDesktop) {
      font-size: 18px;
    }

    @media screen and (min-width: $largeDesktop) {
      font-size: 24px;
    }
  }
}