@import "../../../../styles/variables.scss";

.maker-name {
  padding-left: 20px;
  span {
    color: #ff3838;
    text-shadow: 0px 1px 1px rgb(218 0 0 / 70%);
    font-size: 1.5em;
    font-weight: normal;
  }
}

.map-location {
  height: 156px;

  @media screen and (min-width: $smallDesktop) {
    height: 200px;
  }

  @media screen and (min-width: $desktop) {
    height: 300px;
  }

  @media screen and (min-width: $largeDesktop) {
    height: 400px;
  }
}
