@import "../../../../styles/variables.scss";

.map-location {
  height: 156px;

  @media screen and (min-width: $smallDesktop) {
    height: 200px;
  }

  @media screen and (min-width: $desktop) {
    height: 300px;
  }

  @media screen and (min-width: $largeDesktop) {
    height: 400px;
  }
}
