@import "../../../../../../styles/variables.scss";

.greeting-screen {
  position: relative;
  height: 100svh;
  width: 100%;
  background: $color-light-backgrond-gray;

  &__image {
    position: absolute !important;
    width: 100%;
    height: 100%;
    filter: brightness(80%);
  }

  &__content-wrap {
    display: flex;
    align-items: center;
    height: calc(100vh - $header-height);
  }

  &__content {
    color: $color-white;
    z-index: $z-index-level1;
  }

  &__description {
    text-transform: uppercase;
  }

  &__page-title {
    max-width: 100%;
    margin-top: $gutter-md;
    text-transform: uppercase;

    @media screen and (min-width: $smallDesktop) {
      max-width: 650px;
      margin-top: $gutter-md;
      font-size: $font-size-xxl;
      line-height: $line-height-xxl;
    }
  }

  &__link-more {
    margin-top: $gutter-lg;
  }
}
