@import "../../../../../../styles/variables.scss";

.greeting-screen {
  position: relative;
  height: 558px;
  width: 100%;
  background: var(--main-bg-color);
  object-fit: cover;
  z-index: $z-index-level3;

  @media screen and (min-width: $smallDesktop) {
    height: 700px;
  }

  &__image {
    position: absolute !important;
    width: 100%;
    height: 100%;
    filter: brightness(80%);
    background-color: var(--dark-gray-color);
  }

  &__content-wrap {
    display: flex;
    align-items: center;
    height: 558px;

    @media screen and (min-width: $smallDesktop) {
      height: 700px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 70px;
    width: 100%;
    color: $color-white;
    z-index: $z-index-level1;

    @media screen and (min-width: $tablet) {
      align-items: flex-start;
      row-gap: 100px;
    }

    @media screen and (min-width: $largeDesktop) {
      row-gap: 113px;
    }
  }

  &__icon {
    svg {
      width: 250px;

      path {
        fill: $color-white;
      }
    }

    @media screen and (min-width: $tablet) {
      margin-left: 40%;

      svg {
        width: 450px;
      }
    }

    @media screen and (min-width: $largeDesktop) {
      svg {
        width: 650px;
      }
    }
  }

  &__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__description {
    text-transform: uppercase;
  }

  &__page-title {
    max-width: 100%;
    margin-top: $gutter-md;
    text-transform: uppercase;

    @media screen and (min-width: $smallDesktop) {
      max-width: 650px;
      margin-top: $gutter-md;
      font-size: $font-size-xxl;
      line-height: $line-height-xxl;
    }
  }

  &__link-more {
    margin-top: $gutter-lg;
  }
}
