@import '../../../../../../styles/variables.scss';
@import '../../../../../../styles/mixins.scss';

.year-streams-list {
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2px;
    border-bottom: 1px solid var(--text-main-color);

    @media screen and (min-width: $smallDesktop) {
      border-bottom-width: 2px;
    }
  }

  &__year-number {
    width: fit-content;
    font-size: 35px;
    font-weight: 300;
    font-family: $livret-display-font-family;
    color: var(--text-main-color);

    @media screen and (min-width: $tablet) {
      font-size: 48px;
    }

    @media screen and (min-width: $desktop) {
      font-size: 64px;
    }

    @media screen and (min-width: $largeDesktop) {
      font-size: 72px;
    }
  }

  &__icon {
    display: inline-block;
    width: 19px;
    height: 19px;
    transition: 0.3s ease all;
    cursor: pointer;

    &--transform {
      transform: rotate(45deg);
    }

    @media screen and (min-width: $desktop) {
      width: 28px;
      height: 28px;
    }

    @media screen and (min-width: $largeDesktop) {
      width: 36px;
      height: 36px;
    }
  }

  &__months-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 16px;
    padding: 22px 20px;

    @media screen and (min-width: $desktop) {
      justify-content: flex-start;
      gap: 30px;
    }
  }

  &__month {
    display: inline-block;
    width: 30%;
    font-size: 18px;
    line-height: 1;
    font-weight: 500;
    font-family: $gilroy-medium-font-family;
    color: var(--text-light-gray-color);
    text-transform: capitalize;
    cursor: pointer;

    @media screen and (min-width: $desktop) {
      width: fit-content;
    }

    &--active {
      color: $color-red;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 0;
    padding-top: 25px;
    overflow: hidden;
    opacity: 0;

    @media screen and (min-width: $smallDesktop) {
      padding-top: 35px;
    }

    @media screen and (min-width: $largeDesktop) {
      padding-top: 50px;
    }

    &--expanded {
      max-height: 1200px;
      margin-bottom: 90px;
      opacity: 1;

      @media screen and (min-width: $tablet) {
        max-height: 624px;;
      }

      @media screen and (min-width: $smallDesktop) {
        max-height: 724px;
      }

      @media screen and (min-width: $largeDesktop) {
        max-height: 950px;;
        margin-bottom: 100px;
      }
    }

    @media screen and (min-width: $tablet) {
      gap: 36px;
    }

    @media screen and (min-width: $smallDesktop) {
      gap: 50px;
    }

    @media screen and (min-width: $largeDesktop) {
      gap: 80px;
    }
  }

  &__videos-list {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 30px;
    max-height: 900px;
    height: fit-content;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background: $color-medium-gray;
    }

    @media screen and (min-width: $tablet) {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 40px;
      column-gap: 26px;
      align-items: flex-end;
      max-height: 600px;
    }

    @media screen and (min-width: $desktop) {
      max-height: 650px;
      row-gap: 50px;
    }

    @media screen and (min-width: $largeDesktop) {
      max-height: 1000px;
      height: 1000px !important;
      row-gap: 50px;
    }
  }
}

@include liveStreamsShadowStyles('.year-streams-list__content');