@import '../../../../styles/variables.scss';
@import '../../../../styles/placeholders.scss';

.file-download {
  display: flex;
  align-items: center;
  gap: $gutter-ml;
  width: 100%;

  &__filename {
    @extend %paragraphStyle;
    margin-top: 0;
    width: fit-content;
    text-decoration: underline;
  }

  &__clickable {
    @extend %iconBtnStyles;
    display: flex;
    align-items: center;
    gap: $gutter-sm;
    padding: $gutter-sm;
    border-radius: $border-radius-ms;

    svg {
      width: 20px;
      height: 20px;
    }
  }

  &__label {
    font-size: $font-size-sm;
    line-height: 1.4;
    font-weight: 700;
    transition: all .3s ease;
  }

  &__download-link {
    @extend %secondaryBtnLink;
  }
}
