@import "../../../../../../styles/variables.scss";
@import "../../../../../../styles/placeholders.scss";

.upcoming-events {
  @extend %section;
  position: relative;
  display: flex;
  flex-direction: column;

  &__title {
    @extend %sectionTitle;
  }

  &__list {
    @extend %animatedArticlesListStyles;
  }

  &__all-events-link {
    align-self: center;
    margin-top: 30px;

    @media screen and (min-width: $smallDesktop) {
      align-self: flex-end;
      margin-top: 40px;
    }

    @media screen and (min-width: $desktop) {
      margin-top: 60px;
    }
  }
}
