@import "../../../../styles/variables.scss";
@import "../../../../styles/placeholders.scss";

.structured-markdown-content {
  display: flex;
  flex-direction: column;

  &__blocks {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;

    @media screen and (min-width: $tablet) {
      gap: 10px;
    }

    @media screen and (min-width: $smallDesktop) {
      gap: 14px;
    }

    @media screen and (min-width: $desktop) {
    }

    @media screen and (min-width: $largeDesktop) {
    }
  }

  h2 {
    @extend %h2Style;

    &:first-child {
      margin-top: 0;
    }
  }

  h3 {
    @extend %h3Style;
    margin-bottom: $gutter-sm;

    &:first-child {
      margin-top: 0;
    }
  }

  h4 {
    @extend %h4Style;
    margin-bottom: $gutter-sm;

    &:first-child {
      margin-top: 0;
    }
  }

  h5 {
    @extend %h5Style;
    margin-bottom: $gutter-sm;

    &:first-child {
      margin-top: 0;
    }
  }

  p {
    @extend %smallParagraphMediumDescriptionTextStyle;
    
    &:nth-of-type(1) {
      margin-top: 0;
    }
  }

  &__single-image-wrap {
    @extend %structuredSingleMediaItem;
  }
}
