@import '../../../../styles/variables.scss';
@import '../../../../styles/placeholders.scss';

.subscribe-form {
  display: flex;
  flex-direction: column;
  gap: $gutter-lg;

  @media screen and (min-width: $smallDesktop) {
    flex-direction: row;
  }

  &__container {
    @extend %section;
  }

  &__title {
    @extend %h3SubsectionStyle;
  }

  &__description {
    @extend %paragraphDescriptionTextStyle;

    @media screen and (min-width: $smallDesktop) {
      width: 100%;
      max-width: 450px;
    }
  }

  &__fieldset {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__input-field-wrap {
    display: flex;
    flex-direction: column;
  }

  &__input-label {
    @extend %inputLabelStyle;
  }

  &__input-field {
    display: block;

    &:not(:first-child) {
      margin-top: 0;
    }
  }

  &__input-field-wrap {
    margin-bottom: 37px;
  }

  &__submit {
    align-self: center;
    margin-top: 38px;

    @media screen and (min-width: $smallDesktop) {
      margin-top: 42px;
      align-self: flex-start;
    }
  }
}