@import '../../../../../../styles/variables.scss';

.sermons-filters {
  display: flex;
  flex-direction: column;
  gap: $gutter-lg;

  @media screen and (min-width: $tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    flex-grow: 2;
    width: 100%;

    @media screen and (min-width: $tablet) {
      width: auto
    }
  }
}