@import '../../../../../../styles/variables.scss';

.sermons-filters {
  display: flex;
  flex-direction: column;
  gap: $gutter-lg;
  margin-top: $gutter-lg;

  @media screen and (min-width: $smallDesktop) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
  }

  &__item {
    flex-grow: 2;
    width: 100%;

    @media screen and (min-width: $tablet) {
      width: auto
    }
  }

  &__categories {
    display: flex;
    flex-direction: column;
    gap: $gutter-lg;

    @media screen and (min-width: $tablet) {
      flex-direction: row;
      justify-content: flex-start;
      flex-grow: 2;
    }
  }

  &__dates {
    display: flex;
    justify-content: space-between;
    gap: $gutter-ml;
  }
}