@import "../../../../styles/variables.scss";

.hamburger {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: $hamburger-border-radius;

  svg {
    width: 18px;
    height: 16px; 
    font-size: $hamburger-font-size;
    color: $hamburger-color;
  }

  @media (min-width: $smallDesktop) {
    display: none;
  }
}
