@import '../../../../../../styles/variables.scss';
@import "../../../../../../styles/placeholders.scss";
@import '../../../../../../styles/mixins.scss';

.mission {
  display: flex;
  flex-direction: column;

  &__title {
    @extend %h2Style;
  }

  &__description {
    margin-top: 10px;

    @media screen and (min-width: $smallDesktop) {
      margin-top: 20px;
    }

    @media screen and (min-width: $desktop) {
      margin-top: 30px;
    }

    @media screen and (min-width: $largeDesktop) {
      margin-top: 40px;
    }
  }

  &__goal {
    position: relative;
    margin-top: 40px;
    margin-right: 10px;
    padding: 46px 26px;
    transform: skewY(4deg);
    border: 1px solid $color-red;
    border-radius: 4px;

    @media screen and (min-width: $smallDesktop) {
      margin-top: 70px;
      margin-right: 16px;
      padding: 80px 60px;
      width: 90%;
      align-self: flex-end;
      border: 2px solid $color-red;
      border-radius: 6px;
    }

    @media screen and (min-width: $desktop) {
      margin-top: 84px;
      padding: 110px 80px;
    }

    @media screen and (min-width: $largeDesktop) {
      margin-top: 90px;
      margin-right: 20px;
      padding: 150px 100px;
    }

    p {
      @extend %pageParagraphDescriptionTextStyle;
      text-align: center;
      transform: skewY(-3deg);
    }
    
    &::before {
      position: absolute;
      display: block;
      content: "";
      top: 10px;
      left: 10px;
      width: 100%;
      height: 100%;
      pointer-events: none;
      border: 1px solid $color-red;
      border-radius: 3px;

      @media screen and (min-width: $smallDesktop) {
        left: 16px;
        top: 16px;
        border: 2px solid $color-red;
        border-radius: 6px;
      }

      @media screen and (min-width: $largeDesktop) {
        width: 83%;
        height: 45%;
        left: 20px;
        top: 20px;
        padding: 150px 100px;
      }
    }
  }
}