@import "../../../../../../styles/variables.scss";
@import "../../../../../../styles/placeholders.scss";

.ministry-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 120px;
  }

  @media screen and (min-width: $smallDesktop) {
    margin-bottom: 150px;
  }

  @media screen and (min-width: $largeDesktop) {
    margin-bottom: 200px;
  }
}