@import '../../../../../../styles/variables.scss';
@import "../../../../../../styles/placeholders.scss";

.blog-card {

  @extend %postCardStyles;

  &__start-date {
    @extend %postCardStartDateStyles;
  }

  &__image {
    @extend %postCardImageStyles;
  }

  &__title {
    margin-bottom: $gutter-ms;
    font-size: 23px;
    line-height: 1;
    font-weight: 400;
    font-family: $accia-font-family;
    color: $color-red;

    @media screen and (min-width: $smallDesktop) {
      margin-bottom: $gutter-md;
      font-size: 28px;
    }
  }

  &__author {
    margin-bottom: 10px;
    font-size: 10px;
    line-height: 1.2;
    font-weight: 600;
    font-family: $gilroy-semibold-font-family;

    @media screen and (min-width: $smallDesktop) {
      margin-bottom: $gutter-lg;
      font-size: 20px;
    }
  }

  &__description {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: $gutter-sm;
    font-size: 13px;
    font-weight: 500;
    font-family: $gilroy-medium-font-family;
    line-height: 1.2;

    @media screen and (min-width: $smallDesktop) {
      margin-bottom: $gutter-lg;
      font-size: 18px;
    }
  }

  &__readmore-link {
    margin-top: auto;
  }
}
