@import "../../../../../styles/variables.scss";
@import "../../../../../styles/placeholders.scss";

.custom-textarea {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background: $color-light-gray;
  width: 100%;

  &:not(:first-child) {
    margin-top: $gutter-ml;

    @media screen and (min-width: $desktop) {
      margin-top: 0;
    }
  }

  &__field {
    position: relative;
    display: block;
    box-sizing: border-box;
    flex: 1;
    padding: $gutter-ms $gutter-base $gutter-xs 0;
    z-index: 1;
    width: 100%;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 1;
    background-color: var(--main-bg-color);
    border-bottom: 1px solid $color-medium-gray;
    color: $color-gray;

    @media screen and (min-width: $desktop) {
      font-size: 24px;
    }

    &:focus {
      outline: none;
      outline-offset: 0;
    }
  }

  &--error textarea,
  &--error textarea:focus {
    border: 1px solid $color-red;
  }

  label {
    @extend %inputLabelStyle;
  }

  &__error-message {
    position: absolute;
    left: 10px;
    bottom: -20px;
    font-size: $font-size-xs;
    color: $color-red;
  }
}
