@import "../../../../../../styles/variables.scss";
@import "../../../../../../styles/placeholders.scss";

.media-page-header {
  @extend %pageTopPaddingSize;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-bottom: 40px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 40px;
    gap: 20px;
  }

  @media screen and (min-width: $smallDesktop) {
    flex-direction: row;
    justify-content: space-around;
    column-gap: 0;
    flex-wrap: wrap;
    row-gap: 24px;
    margin-bottom: 80px;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 100px;
  }

  @media screen and (min-width: $largeDesktop) {
    margin-bottom: 120px;
  }

  &__title,
  &__title-link {
    padding-bottom: 8px;
    font-family: $accia-font-family;
    line-height: 0.95;
    font-weight: 400;
    font-size: 40px;
    text-align: center;

    @media screen and (min-width: $tablet) {
      font-size: 70px;
    }

    @media screen and (min-width: $smallDesktop) {
      border-bottom-width: 2px;
      font-size: 90px;
    }

    @media screen and (min-width: $largeDesktop) {
      font-size: 100px;
    }
  }

  &__title {
    border-bottom: 1px solid var(--text-light-gray-color);
    color: $color-red;

    @media screen and (min-width: $smallDesktop) {
      border-bottom-width: 2px;
    }
  }

  &__title-link {
    color: var(--text-main-color);
  }
}