@import '../../../../styles/variables.scss';

.contact-us-form {
  display: flex;
  flex-direction: column;
  width: 100%;

  @media screen and (min-width: $tablet) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__input-field {
    display: block;
    margin-bottom: 22px;

    @media screen and (min-width: $tablet) {
      width: 100%;
      margin-bottom: 32px;
    }

    @media screen and (min-width: $smallDesktop) {
      width: 100%;
      margin-bottom: 64px;
    }

    @media screen and (min-width: $largeDesktop) {
      width: 100%;
      margin-bottom: 98px;
    }

    label {
      display: block;
      width: 100%;
    }
  }

  &__textarea-field {
    display: block;
    margin-bottom: 26px;

    @media screen and (min-width: $tablet) {
      margin-bottom: 28px;
    }

    @media screen and (min-width: $smallDesktop) {
      margin-bottom: 34px;
    }

    @media screen and (min-width: $largeDesktop) {
      margin-bottom: 48px;
    }

    label {
      display: block;
      width: 100%;
    }
  }

  &__is-willing-to-be-contacted {
    margin-bottom: 12px;
    width: 100%;
    color: $color-black;
    cursor: pointer;

    @media screen and (min-width: $tablet) {
      margin-bottom: 24px;
    }

    @media screen and (min-width: $desktop) {
      margin-bottom: 32px;
    }

    @media screen and (min-width: $largeDesktop) {
      margin-bottom: 48px;
    }
  }

  &__select-field {
    margin-top: $gutter-ml;
  }
}
