@import "../../../../styles/variables.scss";

.navPopUp {
  width: $navPopUp-width;
  height: 100vh;
  backdrop-filter: $navPopUp-Blur;
  background-color: $color-gray;
  overflow-y: auto;
  z-index: 500;
  position: fixed;
}
.popUpLinks {
  width: 100%;
  min-height: calc(100vh - $header-height);
  display: flex;
  flex-direction: column;
  margin-top: $header-height;
  overflow: auto;
}

.navbar__link {
  display: flex;
  color: $color-white;
  font-size: $font-size-xl;
  transition: background-color 0.3s ease, color 0.3s ease;
  height: 20%;
  @media screen and (max-width: $mobile) {
    font-size: $font-size-lg;
  }
}

.singleLink_div {
  border-bottom: 1px solid grey;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.arrowIcon {
  display: flex;
  color: $color-white;

  font-size: $font-size-lg;
  margin: 5px;

  @media screen and (max-width: $mobile) {
    font-size: $font-size-md;
  }
}

.singleLink {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 15px;
  width: 100%;
}

.backButton_div {
  padding: 15px;
  border-bottom: 1px solid grey;
}
.backButton {
  display: flex;
  align-items: center;
  color: $color-dark-greeting-bg;
  font-size: $font-size-md;
  cursor: pointer;
}
