@import "../../../../../../styles/variables.scss";
@import "../../../../../../styles/placeholders.scss";

.event-period {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: fit-content;
  z-index: $z-index-level1;

  &--one-day {
    flex-direction: row;
  }

  @media screen and (min-width: $tablet) {
    flex-direction: row;
    gap: 20px;
  }

  &__date {
    @extend %eventPeriodStyle;

    @media screen and (min-width: $tablet) {
      gap: 24px;
    }

    @media screen and (min-width: $smallDesktop) {
      gap: 28px;
    } 

    @media screen and (min-width: $desktop) {
      gap: 30px;
    }
  }

  &__date-value {
    @extend %eventPeriodDateValueStyle;
    color: var(--text-light-gray-color);
  }

  &__time-value {
    @extend %eventPeriodTimeValueStyle;
  }
}
