@import "../../../../../../styles/variables.scss";
@import "../../../../../../styles/placeholders.scss";

.blog-post-author-date {
  @extend %eventPeriodStyle;
  margin-bottom: 16px;

  @media screen and (min-width: $tablet) {
    gap: 24px;
    margin-bottom: 24px;
  }

  @media screen and (min-width: $smallDesktop) {
    gap: 28px;
    margin-bottom: 28px;
  }

  @media screen and (min-width: $desktop) {
    gap: 30px;
    margin-bottom: 30px;
  }

  @media screen and (min-width: $largeDesktop) {
    margin-bottom: 36px;
  }

  &__date {
    @extend %eventPeriodDateValueStyle;
    color: var(--text-main-color);
    font-family: $livret-display-font-family;
    font-weight: 300;
  }

  &__author {
    @extend %eventPeriodTimeValueStyle;
  }
}
