@import "../variables.scss";
@import "../placeholders.scss";
@import "../mixins.scss";

.pastors-post {
  &__title {
    @extend %paddingTopHeader;
    @extend %pageTitleStyles;
  }

  &__post-image {
    position: relative;
    height: 150px;
    margin-bottom: 40px;

    @media screen and (min-width: $tablet) {
      height: 250px;
      margin-bottom: 60px;
    }

    @media screen and (min-width: $smallDesktop) {
      height: 350px;
      margin-bottom: 70px;
    }

    @media screen and (min-width: $desktop) {
      height: 450px;
      margin-bottom: 80px;
    }

    @media screen and (min-width: $largeDesktop) {
      height: 560px;
      margin-bottom: 120px;
    }
  }

  &__meta-info {
    display: flex;
    width: fit-content;
    gap: $gutter-md;
    margin: $gutter-ms auto 0;
  }
}

@include postImageShadowStyles(".pastors-post__post-image");