@import '../variables.scss';
@import '../placeholders.scss';
@import '../mixins.scss';

.staff-person {
  &__title {
    @extend %pageTitleStyles;
  }

  &__page-content {
    margin: $gutter-lg 0;
  }

  &__header {
    @extend %paddingTopHeader;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 35px;

    @media screen and (min-width: $tablet) {
      gap: 42px;
    }

    @media screen and (min-width: $smallDesktop) {
      gap: 48px;
    }

    @media screen and (min-width: $largeDesktop) {
      gap: 54px;
    }
  }
  
  &__image-container {
    // position: relative;
    // transform: skewY(11deg);
    // overflow: hidden;
    // height: 350px;
    height: 400px;
    width: 280px;
    // border-radius: 5px;
  }

  &__image {
    // bottom: 10%;
    // height: 120%;
    height: 100%;
    width: 100%;
    border-radius: 5px
  }

  &__image img {
    // transform: skewY(-11deg);
  }

  &__name {
    @extend %h2Style;
    color: $color-red;
  }

  &__position {
    @extend %pageParagraphDescriptionTextStyle;
  }

  &__structured-content {
    margin-top: 40px;

    @media screen and (min-width: $tablet) {
      margin-top: 60px;
    }

    @media screen and (min-width: $smallDesktop) {
      margin-top: 70px;
    }

    @media screen and (min-width: $largeDesktop) {
      margin-top: 80px;
    }

    h2 {
      text-align: justify !important;
    }
  }
}

@include staffImageShadowStyles(".staff-person__image");