@import '../variables.scss';
@import '../placeholders.scss';

.terms {
  &__title {
    @extend %h1PageTitleStyle;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__page-content {
    display: flex;

    h5 {
      @extend %h5PrivacyTermsStyle;
    }
  }
}
