@import "../styles/variables.scss";
.main {
  //min-height: 100vh;
  min-height: calc(100dvh - $desctop-footer-height);
  height: 100%;
  // padding-top: $header-height; //test to show that scrolling works
}

.logo {
  position: relative;
}
