@import "./variables.scss";

%pageTopPaddingSize {
  padding-top: $header-height;

  @media screen and (min-width: $tablet) {
    margin-top: 40px;
  }

  @media screen and (min-width: $smallDesktop) {
    margin-top: 60px;
  }

  @media screen and (min-width: $largeDesktop) {
    margin-top: 90px;
  }
}

%h1PageTitleStyle {
  @extend %pageTopPaddingSize;

  font-family: $accia-font-family;
  text-align: center;
  font-size: 50px;
  font-weight: 400;
  line-height: 1.2;
  color: var(--text-main-color);

  @media screen and (min-width: $tablet) {
    margin-bottom: 40px;
    font-size: 70px;
  }

  @media screen and (min-width: $smallDesktop) {
    margin-bottom: 80px;
    font-size: 90px;
  }

  @media screen and (min-width: $largeDesktop) {
    margin-bottom: 120px;
    font-size: 110px;
  }
}

%h2Style {
  width: 100%;
  text-align: center;
  font-family: $accia-font-family;
  font-size: 40px;
  line-height: 1;
  font-weight: 400;
  color: var(--text-main-color);

  @media screen and (min-width: $tablet) {
    font-size: 60px;
  }

  @media screen and (min-width: $smallDesktop) {
    font-size: 70px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 80px;
  }

  @media screen and (min-width: $largeDesktop) {
    font-size: 100px;
  }
}

%h3Style {
  margin-top: 10px;
  text-align: center;
  font-family: $accia-font-family;
  font-size: 30px;
  line-height: 1;
  font-weight: 400;
  color: var(--text-main-color);

  @media screen and (min-width: $tablet) {
    margin-top: 20px;
    font-size: 40px;
  }

  @media screen and (min-width: $smallDesktop) {
    margin-top: 25px;
    font-size: 50px;
  }

  @media screen and (min-width: $desktop) {
    margin-top: 30px;
    font-size: 60px;
  }

  @media screen and (min-width: $largeDesktop) {
    font-size: 72px;
  }
}

%h4Style {
  font-family: $accia-font-family;
  font-size: 25px;
  line-height: 1;
  font-weight: 400;
  color: var(--text-main-color);

  @media screen and (min-width: $tablet) {
    font-size: 30px;
  }

  @media screen and (min-width: $smallDesktop) {
    font-size: 40px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 48px;
  }

  @media screen and (min-width: $largeDesktop) {
    font-size: 54px;
  }
}

%h3SubsectionStyle {
  margin-bottom: 27px;
  width: 100%;
  text-align: center;
  font-size: 40px;
  line-height: 1;
  font-weight: 400;
  font-family: $accia-font-family;
  color: var(--text-main-color);

  @media screen and (min-width: $tablet) {
    margin-bottom: 40px;
    font-size: 60px;
  }

  @media screen and (min-width: $smallDesktop) {
    margin-bottom: 60px;
    font-size: 70px;
  }

  @media screen and (min-width: $largeDesktop) {
    margin-bottom: 70px;
    font-size: 90px;
  }
}

%h5Style {
  margin-top: 22px;
  font-size: 22px;
  line-height: 1;
  font-weight: 700;
  font-family: $accia-font-family;
  color: var(--text-main-color);

  @media screen and (min-width: $tablet) {
    font-size: 26px;
  }

  @media screen and (min-width: $smallDesktop) {
    font-size: 30px;
  }
}

%h5PrivacyTermsStyle {
  @extend %h5Style;

  &::first-letter {
    color: $color-red;
    letter-spacing: 8px;

    @media screen and (min-width: $smallDesktop) {
     letter-spacing: 14px;
    }
  }

  &:not(:nth-child(1)) {
    margin-top: 30px;

    @media screen and (min-width: $tablet) {
      margin-top: 34px;
    }

    @media screen and (min-width: $smallDesktop) {
      margin-top: 40px;
    }

    @media screen and (min-width: $desktop) {
      margin-top: 50px;
    }

    @media screen and (min-width: $largeDesktop) {
      margin-top: 60px;
    }
  }
}

%paragraphStyle {
  width: 100%;
  font-size: $font-size-ms;
  line-height: 1.4;
  color: var(--text-main-color);
}

%paddingTopHeader {
  padding-top: calc($header-height + 10px);

  @media screen and (min-width: $tablet) {
    padding-top: calc($header-height + 40px);
  }

  @media screen and (min-width: $smallDesktop) {
    padding-top: calc($header-height + 50px);
  }

  @media screen and (min-width: $largeDesktop) {
    padding-top: calc($header-height + 87px);
  }
}

%pageTitleStyles {
  @extend %paddingTopHeader;

  margin-bottom: 40px;
  font-size: 50px;
  line-height: 1;
  font-family: $accia-font-family;
  font-weight: 400;
  text-align: center;
  font-weight: $font-weight-bold;
  color: var(--text-main-color);

  @media screen and (min-width: $tablet) {
    margin-bottom: 80px;
    font-size: 64px;
  }

  @media screen and (min-width: $smallDesktop) {
    margin-bottom: 120px;
    font-size: 86px;
  }

  @media screen and (min-width: $largeDesktop) {
    margin-bottom: 200px;
    font-size: 110px;
  }
}

%blockquoteStyles {
  padding: $gutter-md;
  font-style: italic;
  border: 1px solid $color-light-backgrond-gray;
  font-weight: 400;
  border-radius: $border-radius-md;
  box-shadow: $quot-shadow;
  line-height: 1.4;
  color: var(--text-main-color);
}

%pageParagraphDescriptionTextStyle {
  color: var(--text-main-color);
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  font-family: $gilroy-regular-font-family;

  @media screen and (min-width: $tablet) {
    font-size: 18px;
  }

  @media screen and (min-width: $smallDesktop) {
    font-size: 24px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 32px;
  }

  @media screen and (min-width: $largeDesktop) {
    font-size: 40px;
  }
}

%smallParagraphMediumDescriptionTextStyle {
  margin-top: 10px;
  text-align: justify;
  color: var(--text-main-color);
  font-size: 13px;
  line-height: 1.6;
  font-weight: 500;
  font-family: $gilroy-medium-font-family;

  @media screen and (min-width: $tablet) {
    margin-top: 12px;
    font-size: 16px;
  }

  @media screen and (min-width: $smallDesktop) {
    margin-top: 14px;
    font-size: 18px;
  }

  @media screen and (min-width: $desktop) {
    margin-top: 18px;
    font-size: 22px;
  }

  @media screen and (min-width: $largeDesktop) {
    margin-top: 20px;
    font-size: 24px;
  }
}

%smallParagraphRegularDescriptionTextStyle {
  color: var(--text-main-color);
  font-size: 13px;
  line-height: 1.2;
  font-weight: 400;
  font-family: $gilroy-regular-font-family;

  @media screen and (min-width: $tablet) {
    font-size: 16px;
  }

  @media screen and (min-width: $smallDesktop) {
    font-size: 18px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 22px;
  }

  @media screen and (min-width: $largeDesktop) {
    font-size: 24px;
  }
}

%eventPeriodStyle {
  display: flex;
  gap: 10px;
  font-family: $gilroy-semibold-font-family;
  font-weight: 500;
  line-height: 1;
  font-size: 15px;

  @media screen and (min-width: $tablet) {
    font-size: 22px;
  }

  @media screen and (min-width: $smallDesktop) {
    font-size: 28px;
  }

  @media screen and (min-width: $largeDesktop) {
    font-size: 36px;
  }
}

%eventPeriodDateValueStyle {
  display: inline-block;
  padding-right: 10px;
  border-right: 2px solid $color-red;

  @media screen and (min-width: $tablet) {
    padding-right: 15px;
  }

  @media screen and (min-width: $desktop) {
    padding-right: 22px;
  }
}

%eventPeriodTimeValueStyle {
  display: inline-block;
  color: var(--text-main-color);
}

%inputLabelStyle {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  color: var(--text-main-color);
  background-color: var(--main-bg-color);
  font-size: 20px;
  line-height: 1;
  font-weight: 400;
  font-family: $accia-font-family;

  @media screen and (min-width: $tablet) {
    font-size: 25px;
  }

  @media screen and (min-width: $largeDesktop) {
    font-size: 34px;
  }

  @media screen and (min-width: $largeDesktop) {
    font-size: 48px;
    line-height: 48px;
  }
}

%primaryBtnLink {
  display: flex;
  align-items: center;
  gap: $gutter-sm;
  padding: $gutter-ms 6px $gutter-sm;
  border: 1px solid $color-white;
  border-radius: $border-radius-ms;
  font-weight: $font-weight-default;
  font-size: $font-size-md;
  line-height: $line-height-md;
  font-family: $accia-font-family;
  color: $color-white;
  transition: all 0.3 ease-in;

  &:hover,
  &:active,
  &:focus {
    border-color: $color-red;
    background-color: $color-red;
  }

  @media screen and (min-width: $tablet) {
    gap: $gutter-ml;
    border-radius: 5px;
    padding: $gutter-md $gutter-md 14px;
    font-size: $font-size-lg;
    line-height: $line-height-lg;
  }

  svg {
    width: 22px;
    height: 21px;
    fill: $color-white;

    @media screen and (min-width: $tablet) {
      width: 34px;
      height: 32px;
    }
  }
}

%btnLinkWhite {
  border: 1px solid $color-white;
  color: $color-white;

  &:hover,
  &:active,
  &:focus {
    border-color: $color-red;
    background-color: $color-red;

    svg {
      fill: $color-red;
    }
  }
}

%secondaryBtnLink {
  display: flex;
  align-items: center;
  gap: 16px;
  width: fit-content;
  box-sizing: border-box;
  padding: 4px 12px 2px;
  background-color: var(--main-bg-color);
  border: 1px solid $color-red;
  box-shadow: none;
  border-radius: 3px;
  font-weight: $font-weight-default;
  font-size: 21px;
  font-family: $accia-font-family;
  line-height: 1;
  color: $color-red;

  @media screen and (min-width: $desktop) {
    border-radius: 5px;
  }

  &:hover,
  &:active,
  &:focus {
    border-color: $color-red;
    background-color: $color-red;
    color: $color-white;

    svg {
      display: block;
      fill: $color-white;
    }
  }

  svg {
    width: 17px;
    height: 16px;
    fill: $color-red;

    @media screen and (min-width: $tablet) {
      width: 22px;
      height: 21px;
    }

    @media screen and (min-width: $smallDesktop) {
      width: 28px;
      height: 27px;
    }

    @media screen and (min-width: $largeDesktop) {
      width: 34px;
      height: 32px;
    }
  }

  @media screen and (min-width: $tablet) {
    gap: 20px;
    border-radius: 5px;
    font-size: 24px;
  }

  @media screen and (min-width: $smallDesktop) {
    padding: 10px 16px 6px;
    font-size: 28px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 34px;
  }

  @media screen and (min-width: $largeDesktop) {
    font-size: 44px;
  }
}

%btnStyles {
  outline: none;
  border: none;
  transition: all 0.3s linear;
  cursor: pointer;
  box-shadow: $button-shadow;
}

%iconBtnStyles {
  border: 1px solid $color-gray;
  background-color: $color-footer-bg;
  outline: none;
  cursor: pointer;
  box-shadow: $button-shadow;
  transition: all 0.3s ease;

  &:hover {
    background-color: $color-gray;
  }
}

%structuredSingleMediaItem {
  position: relative;
  height: 180px;
  width: 250px;

  @media screen and (min-width: $mobile) {
    height: 300px;
    width: 400px;
  }

  @media screen and (min-width: $tablet) {
    height: 400px;
    width: 530px;
  }

  img {
    object-fit: cover;
  }

  iframe {
    object-fit: cover;
  }
}

%textOverflowEllipsis {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

%section {
  background-color: var(--main-bg-color);
}

%sectionGaps {
  display: flex;
  flex-direction: column;
  gap: 80px;

  @media screen and (min-width: $tablet) {
    gap: 100px;
  }

  @media screen and (min-width: $smallDesktop) {
    gap: 130px;
  }

  @media screen and (min-width: $largeDesktop) {
    gap: 200px;
  }
}

%sectionTitle {
  margin-bottom: $gutter-ms;
  text-align: center;
  font-size: 40px;
  line-height: 38px;
  font-weight: $font-weight-default;
  color: var(--text-main-color);
  font-family: $accia-font-family;

  @media screen and (min-width: $tablet) {
    margin-bottom: $gutter-xlg;
    font-size: 55px;
    line-height: 50px;
  }

  @media screen and (min-width: $smallDesktop) {
    margin-bottom: 120px;
    font-size: 90px;
    line-height: 80px;
  }

  @media screen and (min-width: $largeDesktop) {
    margin-bottom: 137px;
    font-size: 100px;
    line-height: 95px;
  }
}

%animatedArticlesListStyles {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 50px;

  @media screen and (min-width: $tablet) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: flex-start;
    align-items: stretch;
    row-gap: 60px;
    column-gap: 32px;

    article:nth-child(2n) {
      transform: translateY(200px);
      transition: transform 1s ease-out;
    }

    &.animated {
      article:nth-child(2n) {
        transform: translateY(0);
      }
    }
  }

  @media screen and (min-width: $desktop) {
    row-gap: 80px;
    column-gap: 48px;
  }

  @media screen and (min-width: $largeDesktop) {
    column-gap: 64px;
    row-gap: 100px;
  }
}

%youtubeFrameHeight {
  height: 195px;

  @media screen and (min-width: $tablet) {
    height: 174px;
  }

  @media screen and (min-width: $smallDesktop) {
    height: 230px;
  }

  @media screen and (min-width: $desktop) {
    height: 280px;
  }

  @media screen and (min-width: $largeDesktop) {
    height: 354px;
  }
}

%postCardStyles {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 350px;
  color: var(--text-main-color);

  @media screen and (min-width: $tablet) {
    max-width: none;
    min-width: 0;
    width: auto;
  }

  @media screen and (min-width: $smallDesktop) {
    width: 100%;
  }
}

%postCardStartDateStyles {
  margin-bottom: $gutter-ms;
  font-style: italic;
  font-family: $livret-display-font-family;
  font-weight: 300;
  font-size: 20px;
  line-height: 1;

  @media screen and (min-width: $smallDesktop) {
    margin-bottom: $gutter-md;
    font-size: 48px;
  }
}

%postCardImageStyles {
  position: relative;
  height: 250px;
  margin-bottom: 30px;

  @media screen and (min-width: $tablet) {
    height: 250px;
    margin-bottom: 35px;
  }

  @media screen and (min-width: $smallDesktop) {
    height: 380px;
  }

  @media screen and (min-width: $desktop) {
    height: 450px;
  }

  @media screen and (min-width: $largeDesktop) {
    height: 580px;
  }
}

%liveStreamsStyle {
  display: inline-block;
  padding: 6px 26px;
  background-color: $color-red;
  font-size: 13px;
  line-height: 15px;
  font-weight: 500;
  font-family: $gilroy-medium-font-family;
  color: $color-white;

  @media screen and (min-width: $smallDesktop) {
    padding: 8px 28px;
    font-size: $font-size-md;
    line-height: $line-height-md;
  }

  @media screen and (min-width: $largeDesktop) {
    padding: 10px 32px;
    font-size: 30px;
    line-height: 30px;
  }
}

%customSelectStyles {
  font-size: 14px;
  line-height: 1.1;
  font-weight: 400;
  font-family: $gilroy-regular-font-family;

  @media screen and (min-width: $tablet) {
    font-size: 18px;
  }

  @media screen and (min-width: $smallDesktop) {
    font-size: 22px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 26px;
  }

  @media screen and (min-width: $largeDesktop) {
    font-size: 29px;
  }
}
