//Screen Sizes
$largeDesktop: 1440px;
$desktop: 1280px;
$smallDesktop: 1024px;
$tablet: 768px;
$mobile: 550px;
$smallMobile: 326px;

// Gutters
$gutter-base: 16px;
$gutter-xxs: $gutter-base * 0.125; // 2
$gutter-xs: $gutter-base * 0.25; // 4
$gutter-sm: $gutter-base * 0.5; // 8
$gutter-ms: $gutter-base * 0.75; // 12
$gutter-md: $gutter-base;
$gutter-ml: $gutter-base * 1.5; // 24
$gutter-lg: $gutter-base * 2; // 32
$gutter-xl: $gutter-base * 3; // 48
$gutter-xlg: $gutter-base * 4; // 64
$gutter-xxlg: $gutter-base * 5; // 80

// Font Sizes
$font-size-xxxs: 8px;
$font-size-xxs: 10px;
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-ms: 16px;
$font-size-lms: 20px;
$font-size-md: 24px;
$font-size-lg: 32px;
$font-size-xl: 40px;
$font-size-xlg: 48px;
$font-size-xxl: 64px;

// Line-height
$line-height-xs: 12px;
$line-height-sm: 16px;
$line-height-ms: 20px;
$line-height-md: 25px;
$line-height-lg: 36px;
$line-height-xl: 56px;
$line-height-xxl: 82px;
$line-height-xxl: 88px;

// Font-weight
$font-weight-light: 300;
$font-weight-default: 400;
$font-weight-semi-bold: 500;
$font-weight-bold: 700;

//Colors
$color-white: #fff;
$color-black: #000;
//$color-header: rgba(0, 0, 0, 0.6);
$color-dark-green: #4e594a;
$color-gold: #dbb047;
$color-red: red;
$color-light-gray: #fefefe;
$color-light-backgrond-gray: #e3e2e2;
$color-medium-gray: #595959;
$color-footer-bg: #d9d9d9;
$color-gray: #a9a9a9;
$color-dark-blue: #1c1d28;
$color-dark-greeting-bg: #131519;
$color-black-opacity: rgba(0, 0, 0, 0.64);
$color-black-opacity-full: rgba(0, 0, 0, 0.08);
$color-black-opacity-double-full: rgba(0, 0, 0, 0.16);

$color-light-orange: #fff5eb;
$color-success: rgb(8 127 8);
$color-primary: #ffd2a4;
$color-orange: #faab5c;
$color-extra-light-gray: #f5f2f0;

// Border
$border-radius-xs: 2px;
$border-radius-sm: 8px;
$border-radius-ms: 4px;
$border-radius-md: 6px;
$border-radius-lg: 12px;
$border-radius-xl: 32px;
$border-radius-circle: 50%;

//shadows
$nav-link-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
$button-shadow: 0 4px 24px $color-black-opacity-full;
$shadows-dark: 0px 4px 24px rgba(0, 0, 0, 0.15);
$button-shadow-focus: inset 0 0 0 1px $color-black;
$quot-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
$full-block-shadow: inset 50vw 50vh 50vw 50vh rgba(0, 0, 0, 0.25);

//z-indexes
$z-index-level1: 10;
$z-index-level2: 20;
$z-index-level3: 30;
$z-index-level4: 40;

//Elements sizes
$header-height: 80px;
$desctop-footer-height: 180px;
$BottomNav-height: 40px;
$upcomingEventsSectionHeightOnMobile: 350px;

//NavPopUp
$navPopUp-width: 100%;
$navPopUp-height: calc(100% - $header-height);
$navPopUp-Blur: blur(20px);
$navPopUp-bg-color: rgba(0, 0, 0, 0.5);
$navPopUp-padding: 20px;

//Hamburger
$hamburger-width: 40px;
$hamburger-height: 40px;
$hamburger-bar-width: 100%;
$hamburger-bar-height: 3px;
$hamburger-border-radius: 4px;
$hamburger-color: #ffff;
$hamburger-font-size: 2rem;

//bottomHamburgerMenu
$bottom-menu-width: 50px;
$bottom-menu-height: 50px;
$bottom-menu-border-radius: 50%;
$bottom-menu-bg-color: gray;
$bottom-menu-bottom-position: 2%;
$botton-menu-right-positon: 5%;
$z-index-bottom-menu: 2000;

//Gospelpage

$gospel-main-height: 100vh;
$quote-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
$gospel-content-width: 70%;
$gospel-content-padding: 20px;
$gospel-content-height: calc(100% - $header-height);
$gospel-title-margin: 20px;
$gospel-quote-width: 100%;
$gospel-quote-margin: 50px 0 50px 0;
$gospel-quote-border-radius: 10px;
$gospel-quote-padding: 20px;

//NavDropdown

$navDropDown-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
$navDropDown-padding: 10px;
$navDropDown-z-index: 1000;

$navDropDown-link-width: 100%;
$navDropDown-link-padding: 8px;

$smallMobileBlogWidth: 320px;
