@import "../../../../styles/variables.scss";
@import "../../../../styles/placeholders.scss";

.bible-quotes-list {
  display: flex;
  flex-direction: column;
  gap: 40px;

  @media screen and (min-width: $smallDesktop) {
    align-self: flex-start;
    gap: 64px;
  }

  @media screen and (min-width: $largeDesktop) {
    gap: 110px;
  }
}
