@import '../../../../styles/variables.scss';
@import '../../../../styles/placeholders.scss';

.fixed-page-link {
  position: fixed;
  top: 30vh;
  right: 5vw;
  border-radius: 50%;
  border: 1px solid $color-red;
  z-index: $z-index-level2;
  box-shadow: $button-shadow;
  overflow: hidden;
  background-color: var(--main-bg-color);

  @media (min-width: $smallDesktop) {
    border: 2px solid $color-red;
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
  
  a svg {
    width: 43px;
    height: 43px;

    @media (min-width: $tablet) {
      width: 50px;
      height: 50px;
    }

    @media (min-width: $largeDesktop) {
      width: 77px;
      height: 77px;
    }
  }

  a {
    svg path{
      stroke: $color-red;
      stroke-width: 1.5px;
    }
  }
}