@import '../../../../../styles/variables.scss';

.notification {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 20;
  display: inline-block;
  padding: $gutter-md;
  color: $color-white;

  &--success {
    background-color: $color-success;
  }

  &--error {
    background-color: $color-red;
  }
}