@import "../../../../styles/variables.scss";

.language-switcher {
  display: flex;
  align-items: center;
  gap: $gutter-xs;
  border-radius: 5px;
  cursor: pointer;

  span {
    font-style: normal;
    font-weight: $font-weight-default;
    font-size: 13px;
    line-height: 1.6;
    text-transform: capitalize;
    color: var(--text-main-color);
    font-family: $gilroy-medium-font-family;
  }

  svg {
    fill: var(--fill-main-color);
  }

  @media (min-width: $smallDesktop) {
    font-size: 15px;
  }

  &__icon {
    color: black;
    width: 11px;
    height: 11px;

    @media (min-width: $smallDesktop) {
      width: 15px;
      height: 15px;
    }
  }
}