@import '../../../../styles/variables.scss';
@import '../../../../styles/placeholders.scss';

.church-contacts-info {
  display: flex;
  flex-direction: column;
  color: var(--text-main-color);
  font-family: $gilroy-regular-font-family;

  &__work-hours {
    color: $color-red;
  }

  a,
  span {
    display: inline-block;
    font-size: 14px;
    line-height: 1.1;
    transition: all .3s ease-in-out;

    @media screen and (min-width: $tablet) {
      font-size: 18px;
    }

    @media screen and (min-width: $smallDesktop) {
      font-size: 22px;
    }

    @media screen and (min-width: $largeDesktop) {
      font-size: 24px;
    }

    &::nth-of-type(1) {
      margin-bottom: 10px;

      @media screen and (min-width: $smallDesktop) {
        margin-bottom: 16px;
      }
    }
  }

  a:hover {
    text-decoration: underline;
  }

  @media screen and (min-width: $smallDesktop) {
    width: 50%;
  }

  &__address-link {
    margin-bottom: 14px;
    max-width: 260px;

    @media screen and (min-width: $tablet) {
      margin-bottom: 18px;
      max-width: none;
    }

    @media screen and (min-width: $smallDesktop) {
      margin-bottom: 30px;
      max-width: none;
    }
  }

  &__phone-link {
    margin-bottom: 10px;

    @media screen and (min-width: $tablet) {
      margin-bottom: 20px;
    }
  }

  &--page-content {
    a,
    span {
      display: inline-block;
      margin-bottom: 20px;
      font-size: 20px;
      line-height: 32px;
      transition: all .3s ease-in-out;

      @media screen and (min-width: $tablet) {
        font-size: 28px;
        line-height: 32px;
      }

      @media screen and (min-width: $smallDesktop) {
        margin-bottom: 30px;
        font-size: 32px;
        line-height: 38px;
      }

      @media screen and (min-width: $largeDesktop) {
        font-size: 49px;
        line-height: 55px;
      }
    }
    
    a.church-contacts-info__email-link {
      margin-bottom: 0;
    }
  }
}