@import '../../../../../../styles/variables.scss';

.timer {
  &__time-items {
    display: flex;
    align-items: center;
    gap: $gutter-xxs;
    margin-top: $gutter-ml;

    @media screen and (min-width: $tablet) {
      gap: $gutter-xs;
    }
  }

  &__time-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: $gutter-xxs;
    width: 65px;
    height: 55px;
    border-radius: 5px;
    background-color: $color-black;
    box-sizing: border-box;

    @media screen and (min-width: $tablet) {
      width: 100px;
      height: 65px;
    }
  }

  &__time-item-value {
    font-size: $font-size-ms;
    line-height: $line-height-ms;
    color: $color-white;

    @media screen and (min-width: $tablet) {
      font-size: $font-size-md;
      line-height: $line-height-md;
    }
  }

  &__time-item-unit {
    font-size: $font-size-xxxs;
    line-height: $line-height-xs;
    color: $color-gray;
    text-transform: uppercase;

    @media screen and (min-width: $tablet) {
      font-size: $font-size-xs;
      line-height: $line-height-xs;
    }
  }
}
