@import "../../../../styles/variables.scss";
@import "../../../../styles/placeholders.scss";

.donation {
  display: flex;
  flex-direction: column;
  align-items: center;

  &--section {
    margin-bottom: 70px;

    @media screen and (min-width: $smallDesktop) {
      margin-bottom: 120px;
    }

    @media screen and (min-width: $largeDesktop) {
      margin-bottom: 200px;
    }
  }

  @media screen and (min-width: $largeDesktop) {
    padding: 0 70px;
  }

  &__title {
    @extend %h1PageTitleStyle;
  }

  &__sub-title {
    @extend %h3SubsectionStyle;
  }

  p.donation__question {
    margin-bottom: 12px;
    font-size: 23px;
    line-height: 1.2;
    text-align: center;
    color: var(--text-main-color);

    @media screen and (min-width: $tablet) {
      margin-bottom: 24px;
      font-size: 28px;
    }

    @media screen and (min-width: $smallDesktop) {
      margin-bottom: 28px;
      font-size: 32px;
    }

    @media screen and (min-width: $largeDesktop) {
      margin-bottom: 40px;
      font-size: 36px;
    }
  }

  &__reasons-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-bottom: 28px;

    @media screen and (min-width: $tablet) {
      margin-bottom: 40px;
      width: 80%;
    }

    @media screen and (min-width: $smallDesktop) {
      margin-bottom: 60px;
      gap: 24px;
    }

    @media screen and (min-width: $largeDesktop) {
      margin-bottom: 96px;
      width: 64%;
    }
  }
  
  &__reason {
    @extend %pageParagraphDescriptionTextStyle;
    text-align: center;
  }

  &__main-content {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 28px;

    @media screen and (min-width: $smallDesktop) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30px;
    }

    @media screen and (min-width: $desktop) {
      grid-template-columns: 3fr 2fr;
      gap: 40px;
    }

    @media screen and (min-width: $largeDesktop) {
      grid-template-columns: minmax(400px, 700px) minmax(200px, max-content);
      gap: 76px;
    }
  }

  &__bible-texts-list {
    display: flex;
    flex-direction: column;
    gap: 40px;

    @media screen and (min-width: $smallDesktop) {
      align-self: flex-start;
      gap: 64px;
    }

    @media screen and (min-width: $largeDesktop) {
      gap: 110px;
    }
  }

  &__bible-text-item {
    display: flex;
    flex-direction: column;
    color: var(--text-main-color);
  }

  &__bible-text-source {
    display: inline-block;
    margin-bottom: 20px;
    width: fit-content;
    font-weight: 500;
    font-size: 18px;

    @media screen and (min-width: $smallDesktop) {
      gap: 64px;
      margin-bottom: 26px;
      font-size: 22px;
    }

    @media screen and (min-width: $largeDesktop) {
      gap: 110px;
      font-size: 25px;
    }
  }

  &__bible-text-content {
    @extend %pageParagraphDescriptionTextStyle;
  }
}
