@import "../../../../../../styles/variables.scss";
@import "../../../../../../styles/placeholders.scss";

$staff-person-card-deg: 12deg;

.staff-person-card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: var(--text-main-color);

  &.staff-person-card--reduced:nth-of-type(2n) {
    flex-direction: column-reverse;
    padding-top: 40px;

    @media screen and (min-width: $tablet) {
      padding-top: 50px;
    }

    @media screen and (min-width: $smallDesktop) {
      padding-top: 80px;
    }

    @media screen and (min-width: $desktop) {
      padding-top: 90px;
    }

    @media screen and (min-width: $largeDesktop) {
      padding-top: 130px;
    }
  }

  &.staff-person-card--reduced:nth-of-type(2n) {
    .staff-person-card__logo-icon {
      bottom: 4px;

      @media screen and (min-width: $tablet) {
        bottom: 0;
      }

      @media screen and (min-width: $smallDesktop) {
        bottom: 4px;
      }

      @media screen and (min-width: $largeDesktop) {
        bottom: 12px;
      }
    }

    .staff-person-card__image-wrap {
      transform: skewY($staff-person-card-deg);
  
      img {
        transform: skewY(-$staff-person-card-deg);
      }
    }
  }

  &.staff-person-card--reduced:nth-of-type(2n+1) {
    .staff-person-card__logo-icon {
      top: 4px;

      @media screen and (min-width: $tablet) {
        top: 4px;
      }

      @media screen and (min-width: $smallDesktop) {
        top: 8px;
      }

      @media screen and (min-width: $largeDesktop) {
        top: 8px;
      }
    }

    .staff-person-card__image-wrap {
      transform: skewY(-$staff-person-card-deg);
  
      img {
        transform: skewY($staff-person-card-deg);
      }
    }
  }

  &.staff-person-card--reduced:nth-of-type(2n) .staff-person-card__photo {
    display: flex;
    flex-direction: column-reverse;
  }

  &__photo {
    position: relative;
  }

  &__logo-icon {
    position: absolute;
    z-index: $z-index-level2;
    width: 18px;
    height: 24px;

    @media screen and (min-width: $tablet) {
      width: 21px;
      height: 28px;
    }

    @media screen and (min-width: $smallDesktop) {
      width: 30px;
      height: 40px;
    }

    @media screen and (min-width: $desktop) {
      width: 45px;
      height: 60px;
    }
  }

  &__image-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 205px;
    margin-bottom: 23px;
    margin-top: 23px;
    overflow: hidden;
    border-radius: 5px;

    @media screen and (min-width: $mobile) {
      height: 270px;
    }

    @media screen and (min-width: $tablet) {
      height: 290px;
      margin-bottom: 27px;
      margin-top: 27px;
    }

    @media screen and (min-width: $smallDesktop) {
      height: 380px;
      margin-bottom: 40px;
      margin-top: 40px;
    }

    @media screen and (min-width: $desktop) {
      height: 525px;
      margin-bottom: 54px;
      margin-top: 50px;
    }
  }

  &__image {
    position: relative;
    height: 300px;
    width: 100%;
    overflow: hidden;

    @media screen and (min-width: $mobile) {
      height: 310px;
    }

    @media screen and (min-width: $tablet) {
      height: 400px;
    }

    @media screen and (min-width: $smallDesktop) {
      height: 500px;
    }

    @media screen and (min-width: $desktop) {
      height: 670px;
    }

    img {
      transform: skewY($staff-person-card-deg);
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    text-align: center;
  }

  &__name {
    margin-bottom: $gutter-sm;
    width: fit-content;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 500;
    font-family: $gilroy-medium-font-family;

    @media screen and (min-width: $tablet) {
      font-size: 16px;
    }

    @media screen and (min-width: $smallDesktop) {
      margin-bottom: $gutter-ml;
      font-size: 30px;
    }

    @media screen and (min-width: $desktop) {
      margin-bottom: 30px;
      font-size: 36px;
    }
  }

  &__position {
    margin-bottom: $gutter-xs;
    width: fit-content;
    font-size: 10px;
    line-height: 1;
    font-weight: 500;
    color: var(--text-main-color);
    font-family: $gilroy-medium-font-family;

    @media screen and (min-width: $tablet) {
      margin-bottom: $gutter-ms;
      font-size: 12px;
    }

    @media screen and (min-width: $smallDesktop) {
      font-size: 18px;
    }

    @media screen and (min-width: $desktop) {
      margin-bottom: $gutter-md;
      font-size: 25px;
    }
  }

  &__description {
    @extend %smallParagraphRegularDescriptionTextStyle;
    display: -webkit-box;
    -webkit-line-clamp: 12;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    @media screen and (min-width: $smallDesktop) {
      margin-bottom: $gutter-lg;
      text-align: left;
    }

    @media screen and (min-width: $largeDesktop) {
      margin-bottom: 40px;
    }
  }

  &.staff-person-card--detailed {
    display: flex;
    flex-direction: row;
    gap: 35px;

    &:nth-of-type(2n) {
      flex-direction: row-reverse;
    }

    @media screen and (min-width: $tablet) {
      gap: 60px;
    }

    @media screen and (min-width: $smallDesktop) {
      gap: 80px;
    }

    @media screen and (min-width: $desktop) {
      gap: 100px;
    }

    @media screen and (min-width: $largeDesktop) {
      gap: 120px;
    }

    .staff-person-card__logo-icon {
      width: 29px;
      height: 35px;

      @media screen and (min-width: $smallDesktop) {
        width: 40px;
        height: 48px;
      }
  
      @media screen and (min-width: $desktop) {
        width: 60px;
        height: 72px;
      }

      @media screen and (min-width: $largeDesktop) {
        width: 60px;
        height: 75px;
        left: 32px;
      }
    }

    .staff-person-card__photo {
      margin-bottom: 30px;

      @media screen and (min-width: $tablet) {
        margin-bottom: 60px;
      }

      @media screen and (min-width: $smallDesktop) {
        margin-bottom: 70px;
      }

      @media screen and (min-width: $desktop) {
        margin-bottom: 80px;
      }

      @media screen and (min-width: $largeDesktop) {
        margin-bottom: 90px;
      }
    }

    .staff-person-card__image-wrap {
      width: calc(100% - 14px);
      height: 330px;
      margin-left: auto;
      transform: skewY(-$staff-person-card-deg);
      $z-index-level1: 10;

      @media screen and (min-width: $tablet) {
        width: calc(100% - 20px);
        height: 360px;
      }

      @media screen and (min-width: $smallDesktop) {
        width: calc(100% - 24px);
        height: 400px;
      }

      @media screen and (min-width: $desktop) {
        width: calc(100% - 30px);
        height: 450px;
      }

      @media screen and (min-width: $largeDesktop) {
        width: calc(100% - 36px);
        height: 520px;
      }

      img {
        transform: skewY($staff-person-card-deg);
      }
    }

    .staff-person-card__image {
      height: 380px;
      
      @media screen and (min-width: $mobile) {
        height: 400px;
      }

      @media screen and (min-width: $tablet) {
        height: 460px;
      }

      @media screen and (min-width: $smallDesktop) {
        height: 515px;
      }

      @media screen and (min-width: $smallDesktop) {
        height: 515px;
      }

      @media screen and (min-width: $desktop) {
        height: 590px;
      }

      @media screen and (min-width: $largeDesktop) {
        height: 660px;
      }
    }

    .staff-person-card__photo {
      position: relative;
      width: 50%;

      &::before {
        display: block;
        position: absolute;
        content: '';
        left: 0;
        bottom: 0;
        width: calc(100% - 14px);
        height: calc(100% - 45px);
        border: 1px solid $color-red;
        border-radius: 2px;
        transform: skewY(-$staff-person-card-deg);

        @media screen and (min-width: $tablet) {
          width: calc(100% - 20px);
          height: calc(100% - 50px);
        }

        @media screen and (min-width: $smallDesktop) {
          width: calc(100% - 35px);
          height: calc(100% - 75px);
          border-width: 2px;
        }

        @media screen and (min-width: $desktop) {
          width: calc(100% - 30px);
          height: calc(100% - 110px);
          bottom: 16px;
        }

        @media screen and (min-width: $largeDesktop) {
          width: calc(100% - 36px);
          height: calc(100% - 116px);
          left: 7px;
          border-width: 3px;
        }
      }
    }

    .staff-person-card__info {
      width: 50%;
    }

    .staff-person-card__position {
      display: block;
      width: 100%;
      text-align: center;
    }

    .staff-person-card__name {
      width: 100%;
      padding-bottom: 10px;
      border-bottom: 1px solid $color-red;
      font-family: $gilroy-medium-font-family;
      font-weight: 500;
      font-size: 16px;
      text-align: center;

      @media screen and (min-width: $tablet) {
        margin-bottom: 10px;
        padding-bottom: 15px;
        font-size: 24px;
      }

      @media screen and (min-width: $smallDesktop) {
        margin-bottom: 16px;
        padding-bottom: 20px;
        border-width: 2px;
        font-size: 32px;
      }

      @media screen and (min-width: $largeDesktop) {
        margin-bottom: 20px;
        padding-bottom: 30px;
        border-width: 3px;
        font-size: 44px;
      }
    }
  }
}