@import '../../../../../../styles/variables.scss';
@import '../../../../../../styles/placeholders.scss';

.sermons-filters {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media screen and (min-width: $smallDesktop) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
  }

  @media screen and (min-width: $desktop) {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  &__item {
    flex-grow: 2;
    width: 100%;

    @media screen and (min-width: $tablet) {
      width: auto
    }
  }

  &__reset-btn {
    text-transform: capitalize;
  }

  &__categories {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;

    @media screen and (min-width: $tablet) {
      display: flex;
      flex-direction: column;
    }
  }
}
