@import '../../../../../../styles/variables.scss';

.sermons-filters {
  display: flex;
  flex-direction: column;
  gap: $gutter-ml;
  margin-top: $gutter-lg;

  @media screen and (min-width: $smallDesktop) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
  }

  @media screen and (min-width: $desktop) {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  &__item {
    flex-grow: 2;
    width: 100%;

    @media screen and (min-width: $tablet) {
      width: auto
    }
  }

  &__categories {
    display: flex;
    flex-direction: column;
    gap: $gutter-md;

    @media screen and (min-width: $tablet) {
      flex-direction: row;
      justify-content: flex-start;
      flex-grow: 2;
      gap: $gutter-lg;
    }
  }

  &__dates {
    display: flex;
    flex-direction: column;
    gap: $gutter-ml;
    width: 100%;

    @media screen and (min-width: 350px) {
      flex-direction: row;
      justify-content: flex-start;
      flex-wrap: wrap;
      flex-grow: 2;
      gap: $gutter-lg;
    }

    @media screen and (min-width: $tablet) {
      flex-wrap: nowrap;
    }

    @media screen and (min-width: $desktop) {
      width: auto;
      flex-grow: 1;
    }
  }

  &__reset-btn {
    display: flex;
    flex-grow: 2;
    align-items: center;
    align-self: flex-end;
    justify-content: center;
    padding: 0 $gutter-md;
    height: 35px;
    border-radius: 5px;
    border: 1px solid $color-medium-gray;
    font-size: $font-size-sm;
    text-transform: capitalize;

    &:not(:first-child) {
      margin-top: 0;
    }

    @media screen and (min-width: $tablet) {
      padding: 0;
      width: 100%;
      flex-grow: 2;
      align-self: end;
    }

    @media screen and (min-width: $desktop) {
      width: auto;
      flex-grow: 1;
    }
  }
}
