@import '../../../../../styles/variables.scss';
@import '../../../../../styles/placeholders.scss';

.custom-button {
  @extend %btnStyles;
  cursor: pointer;

  &--gray {
    background-color: $color-gray;
  }

  &--primary {
    @extend %secondaryBtnLink;
  }

  &--secondary {
    width: fit-content;
    padding: 8px 20px;
    border-radius: 3px;
    background-color: $color-red;
    color: $color-white;
    font-weight: 400;
    font-size: 16px;
    font-family: $accia-font-family;

    @media screen and (min-width: $tablet) {
      padding: 10px 25px;
      font-size: 24px;
    }

    @media screen and (min-width: $largeDesktop) {
      padding: 12px 35px;
      border-radius: 5px;
      font-size: 35px;
    }
  }
}