@import "../../../../styles/variables.scss";
@import "../../../../styles/placeholders.scss";

.media-gallery {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  margin-top: $gutter-ml;

  @media screen and (min-width: 400px) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (min-width: $tablet) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  &__single-image-wrap {
    position: relative;
    height: 180px;
    width: 100%;
    cursor: pointer;

    @media screen and (min-width: $tablet) {
      height: 200px;
      width: 100%;
    }

    img {
      object-fit: cover;
    }
  }
}
