@import "../../../../styles/variables.scss";
@import "../../../../styles/placeholders.scss";

.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &--semitransparent {
      background-color: rgba(0, 0, 0, 0.5);
    }
  }

  &__container {
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $color-white;
    box-shadow: $shadows-dark;
    outline: none;
    width: calc(100% - $gutter-xl);
    max-width: 300px;
    height: calc(100% - $gutter-xl);
    max-height: 250px;
    border-radius: 5px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    z-index: $z-index-level4;

    &--media-gallery {
      width: calc(100% - $gutter-xlg);
      max-width: 300px;
      height: calc(100% - $gutter-xlg);
      max-height: 250px;

      @media screen and (min-width: $mobile) {
        max-width: 400px;
        max-height: 350px;
      }
  
      @media screen and (min-width: $tablet) {
        max-width: 500px;
        max-height: 400px;
      }
  
      @media screen and (min-width: $smallDesktop) {
        max-width: 650px;
        max-height: 500px;
      }
    }

    &.animation-modal {
      animation: modal 0.5s ease forwards;

      @keyframes modal {
        from {
          top: 40%;
          opacity: 0;
        }

        to {
          top: 50%;
          opacity: 1;
        }
      }
    }
  }

  &__close {
    position: absolute;
    top: 0;
    top: -25px;
    right: -25px;
    cursor: pointer;

    svg {
      width: 25px;
      height: 25px;
      fill: $color-white;
    }

    @media screen and (min-width: $tablet) {
      top: -32px;
      right: -32px;

      svg {
        width: 30px;
        height: 30px;
      }
    }
  }
}
