@import '../../../../../../styles/variables.scss';

.blog-filters {
  display: flex;
  flex-direction: column;
  gap: $gutter-md;

  @media screen and (min-width: $tablet) {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    gap: $gutter-lg;
  }

  @media screen and (min-width: $smallDesktop) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: flex-start;
  }

  @media screen and (min-width: $desktop) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: flex-start;
  }

  .blog-filters__select {
    @media screen and (min-width: $smallDesktop) {
      width: 100%;
      max-width: none;
    }
  }

  &__reset-btn {
    display: flex;
    flex-grow: 2;
    align-items: center;
    align-self: flex-end;
    justify-content: center;
    padding: 0 $gutter-md;
    height: 37px;
    border-radius: 5px;
    border: 1px solid #aaa;
    font-size: $font-size-sm;
    text-transform: capitalize;

    &:not(:first-child) {
      margin-top: 0;
    }

    @media screen and (min-width: $tablet) {
      width: auto;
      flex-grow: 1;
    }

    @media screen and (min-width: $smallDesktop) {
      width: fit-content;
      padding: 0 $gutter-xl;
    }
  }
}