@import "../../../../../../styles/variables.scss";
@import "../../../../../../styles/placeholders.scss";

.blog-filters {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media screen and (min-width: $tablet) {
    flex-direction: row;
    justify-content: space-between;
  }

  &__select-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    @media screen and (min-width: $tablet) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: stretch;
      gap: $gutter-lg;
    }

    @media screen and (min-width: $smallDesktop) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-content: flex-start;
    }

    @media screen and (min-width: $desktop) {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      justify-content: flex-start;
    }
  }

  .blog-filters__select {
    @media screen and (min-width: $smallDesktop) {
      width: 100%;
      max-width: none;
    }
  }

  &__reset-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
    border-radius: 2px;
    border: 1px solid $color-red;
    text-transform: capitalize;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.6s ease, visibility 0.6s ease;
    
    &--hidden {
      opacity: 0;
      visibility: hidden;
    }

    &:not(:first-child) {
      margin-top: 0;
    }

    @media screen and (min-width: $tablet) {
      align-self: flex-end;
    }

    @media screen and (min-width: $desktop) {
      width: auto;
      border-radius: 5px;
    }

    svg {
      fill: $color-red;
    }

    // &.blog-filters__reset-btn--disabled {
    //   border-color: var(--dark-gray-color);
    //   background-color: var(--super-light-gray-color);
    //   cursor: not-allowed;
    //   opacity: 0.7;

    //   span {
    //     color: var(--dark-gray-color);
    //   }

    //   svg {
    //     fill: var(--dark-gray-color);
    //   }
    // }
  }
}
