@import '../../../../../../styles/variables.scss';

.blog-cards-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: $gutter-lg;
  padding-bottom: $gutter-xl;
  align-items: stretch;

  @media screen and (min-width: $tablet) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (min-width: $smallDesktop) {
    grid-template-columns: repeat(3, 1fr);
    justify-content: flex-start;
  }

  @media screen and (min-width: $desktop) {
    grid-template-columns: repeat(4, 1fr);
    justify-content: flex-start;
  }
}
