@import "../../../../styles/variables.scss";

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  background-color: $color-light-bg;
  width: 100%;
  z-index: $z-index-level3;
  transition: 0.8s;

  &__overlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: $color-black-opacity-double-full;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: $header-height;
    padding: $gutter-ms;
  }

  &__tooglers {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  &.visible {
    top: 0;
  }

  &.hidden {
    top: -80px;
  }
}
