:root {
  --main-bg-color: #FAF8F2;
  --foreground: #171717;
  --text-main-color: #000000;
  --text-secondary-color: #373737;
  --text-light-gray-color: #adadad;
  --fill-main-color: #373737;
  --color-red: #FF3838;
}

.dark,
[data-theme222='dark'],
[data-theme222='dark'] body {
  --main-bg-color: #2c2c2c;
  --text-main-color: #FAF8F2;
  --text-secondary-color: #FAF8F2;
  --text-light-gray-color: #adadad;
  --fill-main-color: #FAF8F2;
  --color-red: #FF3838;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-bg-color: #2c2c2c;
    --text-main-color: #FAF8F2;
    --foreground: #ededed;
    --text-light-gray-color: #adadad;
    --fill-main-color: #FAF8F2;
    --color-red: #FF3838;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
  color: #000;
  background: #fff;
}

body {
  color: var(--foreground);
  background: var(--main-bg-color);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

footer svg path.logo-text {
  fill: #5f5f5f;
}

footer svg path.logo-book {
  stroke: #5f5f5f;
}

.swiper-scrollbar {
  background: rgba(129, 114, 122, 0.8);

  &-drag {
    background: rgba(129, 114, 122, 0.8);
  }
}

.ministries-slider .swiper-slide.swiper-slide-active a,
.ministries-slider .swiper-slide.swiper-slide-active + .swiper-slide + .swiper-slide + .swiper-slide + .swiper-slide a {
  opacity: .3;
}

.ministries-slider .swiper-slide.swiper-slide-active + .swiper-slide a,
.ministries-slider .swiper-slide.swiper-slide-active + .swiper-slide + .swiper-slide + .swiper-slide a {
  opacity: .5;
}

.ministries-slider .swiper-slide.swiper-slide-active + .swiper-slide + .swiper-slide a {
  color: var(--color-red);
  font-size: 60px;
}
