@import '../../../../../../styles/variables.scss';

.youtube-player {
  display: flex;
  flex-direction: column;

  &__caption {
    flex-shrink: 2;
    height: 64px;
    padding: $gutter-ms $gutter-sm;
    color: $color-black;
    background-color: $color-light-backgrond-gray;
    font-weight: $font-weight-bold;
  }
}