@import "../../../../../../styles/variables.scss";

.upcoming-event {
  position: relative;
  display: none;
  flex-direction: column;
  height: $upcomingEventsSectionHeightOnMobile;
  opacity: 0;
  transition: opacity .8 ease-in-out;

  &--active {
    display: flex;
    opacity: 1;
  }

  @media screen and (min-width: $tablet) {
    height: calc(100dvh - $header-height);
    max-height: none;
  }

  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    filter: brightness(.5)
  }

  &__content-wrap {
    position: relative;
    flex-grow: 2;
  }

  &__content {
    position: absolute;
    top: 20%;
    display: flex;
    flex-direction: column;
    z-index: 5;
    color: $color-white;

    @media screen and (min-width: $tablet) {
      top: 40%;
      width: calc(100% - 320px);
    }
  }

  &__title {
    font-size: $font-size-lg;
    line-height: $line-height-lg;

    @media screen and (min-width: $mobile) {
      font-size: $font-size-xlg;
      line-height: $line-height-xl;
    }
  }

  &__short-description {
    margin-top: $gutter-ms;

    @media screen and (min-width: $mobile) {
      font-size: $font-size-ms;
      line-height: $line-height-md;
    }

    @media screen and (min-width: $tablet) {
      margin-top: $gutter-ml;
    }
  }

  &__link-more {
    width: fit-content;
    margin-top: $gutter-ms;
    user-select: none;
    padding: $gutter-xs $gutter-sm;
    line-height: 1.5;
    border-radius: $border-radius-xs;
    font-size: $font-size-xs;
    background-color: transparent;
    border: 1px solid $color-light-gray;
    text-transform: uppercase;
    transition: all .3s ease-in-out;

    &:hover {
      background-color: $color-orange;
    }

    @media screen and (min-width: $tablet) {
      margin-top: $gutter-ml;
    }
  }
}
