@import '../../../../../../styles/variables.scss';

.contact-us-form {
  display: flex;
  flex-direction: column;
  margin: $gutter-ml 0 $gutter-xl;
  row-gap: $gutter-ml;

  @media screen and (min-width: $tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: $gutter-ml;
  }

  &__input-field {
    display: block;

    &:not(:first-child) {
      margin-top: 0;
    }

    @media screen and (min-width: $tablet) {
      width: calc(50% - $gutter-ms);
    }
  }

  &__textarea-field {
    display: block;

    &:not(:first-child) {
      margin-top: 0;
    }
  }

  &__is-willing-to-be-contacted {
    width: 100%;
    color: $color-black;
    cursor: pointer;
  }

  &__select-field {
    margin-top: $gutter-ml;
  }
}