@import "../../../../styles/variables.scss";

.mobileMenuDesign {
  display: flex;
  justify-content: center;
  align-items: center;
  width: $bottom-menu-width;
  height: $bottom-menu-height;
  background-color: $bottom-menu-bg-color;
  border-radius: $bottom-menu-border-radius;
  bottom: $bottom-menu-bottom-position;
  right: $botton-menu-right-positon;
  position: fixed;
  z-index: $z-index-bottom-menu;
}
