@import '../../../../../styles/variables.scss';

.read-more-link {
  display: flex;
  width: fit-content;
  gap: $gutter-xxs;
  transition: all .3s ease-in;

  @media screen and (min-width: $smallDesktop) {
    gap: $gutter-ms;
  }

  span {
    display: inline-block;
    color: var(--text-light-gray-color);
    font-size: 11px;
    line-height: 1.3;

    @media screen and (min-width: $smallDesktop) {
      font-size: 23px;
    }
  }

  svg {
    display: inline-block;
    align-self: flex-start;
    width: 8px;
    height: 8px;

    @media screen and (min-width: $smallDesktop) {
      width: 17px;
      height: 16px;
    }
  }

  svg path {
    fill: var(--text-light-gray-color);
  }

  &:hover {
    span, svg path {
      color: var(--text-main-color);
      fill: var(--text-main-color);
    }
  }
}