@import "../../../../styles/variables.scss";

.navbar {
  display: none;
  font-weight: 500;
  font-family: $gilroy-medium-font-family;

  &__label {
    display: flex;
    align-items: flex-start;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 190px;

    @media (min-width: $smallDesktop) {
      align-items: center;
      width: inherit;
    }
  }

  &__link {
    padding: $gutter-xs 0;
    font-style: normal;
    font-weight: $font-weight-default;
    font-size: 15px;
    line-height: $line-height-ms;
    text-align: right;
    color: var(--text-secondary-color);
    opacity: 0.9;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      color: $color-red;
    }
  }

  &__link--outlined {
    padding: 0;
    border-radius: 6px;
    border: 1px solid $color-red;

    a {
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 8px 10px;
    }

    svg {
      width: 20px;
      height: 20px;
    }

    a:hover {
      svg path,
      svg circle {
        stroke: $color-red;
      }
    }

    svg path,
    svg circle {
      stroke: var(--text-main-color);
      stroke-width: 1.5px;
      transition: all 0.3s ease;
    }
  }

  @media (min-width: $smallDesktop) {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  @media (min-width: $desktop) {
    gap: 40px;
  }

  &--show {
    position: absolute;
    top: $header-height;
    left: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: $gutter-md;
    align-items: flex-end;
    padding: $gutter-lg 0;
    width: 100%;
    background-color: var(--main-bg-color);

    @media (min-width: $smallDesktop) {
      display: none;
    }
  }

  &__submenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    padding: $navDropDown-padding;
    z-index: $navDropDown-z-index;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3 ease;

    @media (min-width: $smallDesktop) {
      position: absolute;
      top: 40px;
      width: fit-content;
      margin: auto;
      box-shadow: $navDropDown-box-shadow;
      background-color: var(--main-bg-color);
    }

    &--active {
      display: flex;
      visibility: visible;
      opacity: 1;
    }

    &-link {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 7px;
      width: $navDropDown-link-width;
      font-size: 13px;
      line-height: 20px;
      color: var(--text-secondary-color);
      text-decoration: none;

      &:hover {
        color: $color-red;
      }
    }
  }

  a {
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      color: $color-red;
    }
  }
}

.arrowIcon {
  display: flex;
  color: $color-red;
  justify-content: center;
  margin: 5px;
  width: 8px;
  height: 7px;
}
