@import "../../../../styles/variables.scss";

.navbar {
  display: flex;
  flex-wrap: wrap;
  column-gap: $gutter-xl;

  &__link {
    padding: $gutter-xs 0;
    font-style: normal;
    font-weight: $font-weight-default;
    font-size: $font-size-ms;
    line-height: $line-height-ms;
    text-align: right;
    text-transform: uppercase;
    color: $color-white;
    opacity: 0.9;
    text-shadow: $nav-link-shadow;
  }

  @media (max-width: $smallDesktop) {
    display: none;
  }
}

.link_div {
  display: flex;
  align-items: center;
}

.arrowIcon {
  display: flex;
  color: $color-white;
  justify-content: center;
  margin: 5px;
}
