@import "../../../../../../styles/variables.scss";

.upcoming-events-list {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: $gutter-xl;
  height: $upcomingEventsSectionHeightOnMobile;
  background-color: $color-dark-greeting-bg;

  @media screen and (min-width: $tablet) {
    height: calc(100dvh - $header-height);
    max-height: none;
  }

  &__events-wrap {
    position: absolute;
    width: 100%;
  }

  &__menu {
    position: relative;
    height: inherit;
  }

  &__menu-items {
    position: absolute;
    z-index: 10;
    display: flex;
    gap: $gutter-ms;
    color: $color-white;
    bottom: 10%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0);

    @media screen and (min-width: $tablet) {
      right: 0;
      bottom: auto;
      top: 40%;
      flex-direction: column;
      align-items: stretch;
      max-width: 270px;
      margin-right: 0;
      left: auto;
      transform: none;
    }

    @media screen and (min-width: $smallDesktop) {
      max-width: 320px;
    }
  }

  &__menu-link {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 3px solid $color-white;
    cursor: pointer;
    transition: all .3s ease-in-out;

    &:hover {
      border-color: $color-orange;
    }

    @media screen and (min-width: $tablet) {
      width: auto;
      height: auto;
      border: none;
      font-weight: $font-weight-bold;

      svg {
        opacity: 0;
        transition: opacity .3 ease-in-out;
      }

      &:hover {
        color: $color-orange;
      }
    }

    &--active {
      border-color: $color-orange;

      @media screen and (min-width: $tablet) {
        border: none;
      }

      a svg {
        @media screen and (min-width: $tablet) {
          opacity: 1;
        }
      }
    }
  }

  &__menu-link-label {
    position: relative;
    padding-right: 40px;

    svg {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(0, -50%);
      width: 30px;
      height: 30px;
    }
  }
}